p{
    color: blueviolet;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: xx-large;
    text-align: center;
}

h1{
    color: rgb(0, 0, 0);
    background-color: aquamarine;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}

a{
    font-size: x-large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

table{
    font-family: Georgia, 'Times New Roman', Times, serif;
    justify-self: center;
    text-align: center;
    border-color: blue;
}